<%# Attack/block selection %>
<%
  attacks ||= []
  blocks ||= []
  action_limit ||= 80

  body_parts = %w[head torso stomach legs]
  attack_labels = ["Head", "Torso", "Stomach", "Legs"]
  block_labels = ["Head Block", "Torso Block", "Stomach Block", "Legs Block"]
  action_value = ->(action, key) { action[key] || action[key.to_s] }
  action_parts = lambda do |action|
    parts = action_value.call(action, :body_parts) || action_value.call(action, :body_part)
    Array(parts).map(&:to_s)
  end

  simple_attack = attacks.find { |a| action_value.call(a, :key).to_s == "simple" }
  aimed_attack = attacks.find { |a| action_value.call(a, :key).to_s == "aimed" }
  simple_attack_cost = action_value.call(simple_attack || {}, :cost) || Game::Combat::ActionCatalog.attack_cost("simple")
  aimed_attack_cost = action_value.call(aimed_attack || {}, :cost) || Game::Combat::ActionCatalog.attack_cost("aimed")
  extra_attacks = attacks.reject { |a| %w[simple aimed].include?(action_value.call(a, :key).to_s) }
%>

<div class="nl-action-selection">
  <div class="nl-action-info">
    <span class="nl-info-text">
      <strong>Action Points: <span class="nl-ap-available">5-<%= action_limit %></span></strong>
    </span>
  </div>

  <div class="nl-action-grid">
    <%# Left side - Attacks %>
    <div class="nl-attacks-column">
      <% body_parts.each_with_index do |part, index| %>
        <div class="nl-action-row">
          <div class="nl-action-mana" id="mana-u<%= index %>"></div>
          <select class="nl-action-select nl-attack-select"
                  name="attacks[<%= index %>]"
                  id="attack-<%= index %>"
                  data-body-part="<%= part %>"
                  data-action="change->turn-combat#updateActionPoints">
            <option value="">
              <%= attack_labels[index] %> [no attack selected]
            </option>

            <%# Basic attack options %>
            <option value="simple" data-cost="<%= simple_attack_cost %>">
              Simple Attack [<%= simple_attack_cost %>]
            </option>
            <option value="aimed" data-cost="<%= aimed_attack_cost %>">
              Aimed Attack [<%= aimed_attack_cost %>]
            </option>

            <%# Targeted attacks for this body part %>
            <% extra_attacks.select { |a| action_parts.call(a).include?(part) }.each do |attack| %>
              <% key = action_value.call(attack, :key) %>
              <% cost = action_value.call(attack, :cost) %>
              <option value="<%= key %>" data-cost="<%= cost %>">
                <%= action_value.call(attack, :name) %> [<%= cost %>]
              </option>
            <% end %>
          </select>
        </div>
      <% end %>
    </div>

    <%# Divider %>
    <div class="nl-action-divider"></div>

    <%# Right side - Blocks %>
    <div class="nl-blocks-column">
      <% body_parts.each_with_index do |part, index| %>
        <div class="nl-action-row">
          <select class="nl-action-select nl-block-select"
                  name="blocks[<%= index %>]"
                  id="block-<%= index %>"
                  data-body-part="<%= part %>"
                  data-action="change->turn-combat#updateActionPoints">
            <option value="">
              <%= block_labels[index] %> [no block selected]
            </option>

            <%# Targeted blocks %>
            <% blocks.select { |b| action_parts.call(b).include?(part) }.each do |block| %>
              <% key = action_value.call(block, :key) %>
              <% cost = action_value.call(block, :cost) %>
              <option value="<%= key %>" data-cost="<%= cost %>">
                <%= action_value.call(block, :name) %> [<%= cost %>]
              </option>
            <% end %>
          </select>
          <div class="nl-action-mana" id="mana-b<%= index %>"></div>
        </div>
      <% end %>
    </div>
  </div>

  <%# Attack penalty notice %>
  <div class="nl-penalty-notice" id="penalty-notice" style="display: none;">
    <span class="nl-penalty-text">
      Multiple attack penalty: <strong id="penalty-amount">0</strong> AP
    </span>
  </div>
</div>
