<%# Magic/skill slots %>
<%
  skills ||= []
  slots_per_row = 9
%>

<div class="nl-magic-container">
  <% skills.each_slice(slots_per_row).with_index do |row, row_index| %>
    <div class="nl-magic-row">
      <% row.each_with_index do |skill, index| %>
        <% slot_id = "m#{row_index * slots_per_row + index}" %>
        <div class="nl-magic-slot"
             id="<%= slot_id %>"
             data-skill-key="<%= skill[:key] || skill[:id] %>"
             data-cost="<%= skill[:cost] || 50 %>"
             data-mana="<%= skill[:mana] || 0 %>"
             data-action="click->turn-combat#toggleMagicSlot"
             title="<%= skill[:name] %> [<%= skill[:cost] || 50 %> AP, <%= skill[:mana] || 0 %> MP]">
          <div class="nl-magic-icon">
            <%= magic_icon(skill[:element] || skill[:type]) %>
          </div>
          <div class="nl-magic-overlay"></div>
        </div>
      <% end %>

      <%# Fill empty slots %>
      <% (slots_per_row - row.size).times do |i| %>
        <div class="nl-magic-slot nl-magic-slot--empty">
          <div class="nl-magic-icon">⬜</div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

