<h2>Parameters</h2>

<table class="nl-profile-table">
  <tr>
    <th>HP</th>
    <td><%= stats[:current_hp] %>/<%= stats[:max_hp] %></td>
  </tr>
  <tr>
    <th>MP</th>
    <td><%= stats[:current_mp] %>/<%= stats[:max_mp] %></td>
  </tr>
  <tr>
    <th>Strength</th>
    <td><%= stats[:strength] %><%= render "inventories/stat_delta", stat: stats.dig(:primary_stats, :strength) %></td>
  </tr>
  <tr>
    <th>Dexterity</th>
    <td><%= stats[:dexterity] %><%= render "inventories/stat_delta", stat: stats.dig(:primary_stats, :dexterity) %></td>
  </tr>
  <tr>
    <th>Knowledge</th>
    <td><%= stats[:intelligence] %><%= render "inventories/stat_delta", stat: stats.dig(:primary_stats, :intelligence) %></td>
  </tr>
  <tr>
    <th>Health</th>
    <td><%= stats[:vitality] %><%= render "inventories/stat_delta", stat: stats.dig(:primary_stats, :vitality) %></td>
  </tr>
  <tr>
    <th>Attack</th>
    <td><%= stats[:attack_power] %></td>
  </tr>
  <tr>
    <th>Defense</th>
    <td><%= stats[:defense] %></td>
  </tr>
</table>
