<h2>Параметры</h2>

<table class="nl-profile-table">
  <tr>
    <th>HP</th>
    <td><%= stats[:current_hp] %>/<%= stats[:max_hp] %></td>
  </tr>
  <tr>
    <th>MP</th>
    <td><%= stats[:current_mp] %>/<%= stats[:max_mp] %></td>
  </tr>
  <tr>
    <th>Сила</th>
    <td><%= stats[:strength] %></td>
  </tr>
  <tr>
    <th>Ловкость</th>
    <td><%= stats[:dexterity] %></td>
  </tr>
  <tr>
    <th>Знания</th>
    <td><%= stats[:intelligence] %></td>
  </tr>
  <tr>
    <th>Здоровье</th>
    <td><%= stats[:vitality] %></td>
  </tr>
  <tr>
    <th>Атака</th>
    <td><%= stats[:attack_power] %></td>
  </tr>
  <tr>
    <th>Защита</th>
    <td><%= stats[:defense] %></td>
  </tr>
</table>
