<div class="quick-actions-panel">
  <h3>Quick Actions</h3>
  <ul class="quick-actions-list">
    <li><%= link_to "ðŸ“¦ Inventory", "#", class: "quick-action" %></li>
    <li><%= link_to "ðŸ“œ Quests", quests_path, class: "quick-action" %></li>
    <li><%= link_to "âš”ï¸ Skills", "#", class: "quick-action" %></li>
    <li><%= link_to "ðŸ  Housing", housing_plots_path, class: "quick-action" %></li>
    <li><%= link_to "ðŸ¾ Pets", pet_companions_path, class: "quick-action" %></li>
    <li><%= link_to "ðŸŽ Mounts", mounts_path, class: "quick-action" %></li>
    <li><%= link_to "ðŸ† Achievements", achievements_path, class: "quick-action" %></li>
  </ul>
</div>

