<%#
  World View
  Uses game.html.erb layout with top bar, main content, and bottom panel
%>
<% content_for :title, "#{@zone.name} - Elselands" %>

<% if in_city?(@position) %>
  <%# City/Location View - large image with description %>
  <div class="nl-world-container nl-world-container--city">
    <%= render "world/city_view", zone: @zone, position: @position %>

    <%# Location entities & actions below the image %>
    <turbo-frame id="location-info">
      <%= render "world/location_info", position: @position, tile: @tile, zone: @zone %>
    </turbo-frame>

    <turbo-frame id="available-actions">
      <%= render "world/actions", available_actions: @available_actions, position: @position %>
    </turbo-frame>
  </div>

<% else %>
  <%# Outdoor World Map View - tile grid with cursor %>
  <div class="nl-world-container nl-world-container--map">
    <%# Map Grid with tiles %>
    <turbo-frame id="game-map">
      <%= render "world/map",
                 position: @position,
                 nearby_tiles: @nearby_tiles,
                 zone: @zone,
                 tile_data: @tile_data %>
    </turbo-frame>

    <%# Location Description & Entities %>
    <turbo-frame id="location-info">
      <%= render "world/location_info", position: @position, tile: @tile, zone: @zone %>
    </turbo-frame>

    <%# Available Actions %>
    <turbo-frame id="available-actions">
      <%= render "world/actions", available_actions: @available_actions, position: @position %>
    </turbo-frame>
  </div>
<% end %>
