<% character ||= nil %>
<% viewer_character ||= current_user&.character if user_signed_in? %>
<% current_section ||= :profile %>

<% if viewer_character %>
  <div class="nl-player-context-buttons">
    <% profile_target = player_path(name: viewer_character.name) %>
    <% if current_section.to_sym == :profile && character == viewer_character %>
      <span class="lbutdis">Ваш персонаж</span>
    <% else %>
      <%= link_to "Ваш персонаж", profile_target, class: "lbut" %>
    <% end %>

    <% if current_section.to_sym == :stats %>
      <span class="lbutdis">Характеристики</span>
    <% else %>
      <%= link_to "Характеристики", stats_character_path(viewer_character), class: "lbut" %>
    <% end %>

    <% if current_section.to_sym == :inventory %>
      <span class="lbutdis">Инвентарь</span>
    <% else %>
      <%= link_to "Инвентарь", inventory_path, class: "lbut" %>
    <% end %>

    <% if current_section.to_sym == :skills %>
      <span class="lbutdis">Умения</span>
    <% else %>
      <%= link_to "Умения", skills_character_path(viewer_character), class: "lbut" %>
    <% end %>
    <%= link_to "Вернуться", world_path, class: "lbut" %>
  </div>
<% end %>
