<%#
  Turbo Stream response for flee attempt
%>

<% if @fled %>
  <%# Successful flee - redirect to world %>
  <%= turbo_stream.update "flash" do %>
    <div class="nl-flash nl-flash--success">
      <%= @message %>
    </div>
  <% end %>

  <script>
    setTimeout(() => { Turbo.visit('<%= root_path %>'); }, 1500);
  </script>
<% else %>
  <%# Failed flee %>
  <%= turbo_stream.update "flash" do %>
    <div class="nl-flash nl-flash--warning">
      <%= @message %>
    </div>
  <% end %>

  <%# Update combat log %>
  <%= turbo_stream.append "combat-log" do %>
    <div class="nl-log-entry nl-log--flee-failed">
      <span class="nl-log-time"><%= Time.current.strftime("%H:%M:%S") %></span>
      <span class="nl-log-message">🏃 <%= @message %></span>
    </div>
  <% end %>
<% end %>

