<section>
  <header>
    <h1>Auction House</h1>
    <%= link_to "Create Listing", new_auction_listing_path, class: "button" %>
  </header>

  <table>
    <thead>
      <tr>
        <th>Item</th>
        <th>Seller</th>
        <th>Current Bid</th>
        <th>Ends</th>
      </tr>
    </thead>
    <tbody>
      <% @auction_listings.each do |listing| %>
        <tr>
          <td><%= link_to listing.item_name, auction_listing_path(listing) %></td>
          <td><%= listing.seller.email %></td>
          <td><%= listing.highest_bid&.amount || listing.starting_bid %> <%= listing.currency_type %></td>
          <td><%= l(listing.ends_at, format: :short) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
